.Adds{
    width: 100%;
    height: 140px;
    background: linear-gradient(103.47deg, #5B53F9 22.39%, #AC71D6 46.68%, #FF8E57 83.1%);

}
.Adds-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.Adds-img img{
    margin-top: 40px;
    width: 130px;
    height: 77px;
   
}